<div class="container">
  <h4>My profile - {{nickName}}</h4>
      <!--<div class="image-container image"></div>-->
  <button mat-stroked-button color="warn" class="right" (click)="openDeleteDialog()">Delete Account</button>

  <form ngNativeValidate #profileForm="ngForm" name="profileForm" class="">
    <div class="error-message" *ngIf="nickname.errors">
      Enter a nickname of at least 3 characters!
    </div>
    <mat-form-field class="full-width">
      <input matInput placeholder="Nickname" name="nickname" #nickname="ngModel" [ngModel]="nickName" required minlength="3">
    </mat-form-field>
    <div class="error-message" *ngIf="email.errors">
      Enter a valid email!
    </div>
    <mat-form-field class="full-width">
      <input matInput placeholder="Email" name="email" #email="ngModel" [ngModel]="eMail" required email>
    </mat-form-field>
  </form>
  <button mat-button (click)="openPasswordDialog()">Change Password</button>
  <button mat-raised-button color="primary" class="right" [disabled]="!profileForm.valid">Save Profile</button>

</div>
