<div id="map"></div>

<!-- TEMPORARILY DISABLED AS IT COVERS THE WHOLE PAGE -->
<!--<div class="btn-group vertical btn-fixed btn-top-left">-->
<!--  <button mat-icon-button>-->
<!--    <mat-icon>menu</mat-icon>-->
<!--  </button>-->
<!--</div>-->

<div class="btn-group vertical btn-fixed btn-top-right">
  <!--  <a class="btn-large waves-effect waves-ligh modal-trigger" data-target="signin">-->
  <!--    Sign in-->
  <!--  </a>-->
  <button (click)="openSignInDialog()" mat-raised-button >Sign in</button>
  <a routerLink="/profile" mat-fab color="primary">
    <i class="large material-icons">account_circle</i>
  </a>
</div>

<!--<a class="btn-floating btn-flat  btn-fixed btn-top-left btn-large waves-effect waves-light sidenav-trigger"-->
<!--   data-target="slide-out">-->
<!--  <i class="large material-icons medium z-depth-4 grey-text text-lighten-5">menu</i>-->
<!--</a>-->

<!--<nav> &lt;!&ndash; navbar content here  &ndash;&gt; </nav>-->

<!--<ul id="slide-out" class="sidenav">-->
<!--  <li><a class="subheader">Administrator</a></li>-->
<!--  <li><a class="waves-effect" href="#!">Messages</a></li>-->
<!--  <li><a class="waves-effect" href="#!">Reports</a></li>-->
<!--  <li><a class="waves-effect" href="#!">Users</a></li>-->
<!--  <li><a class="waves-effect" routerLink="/admin/settings">Settings</a></li>-->
<!--</ul>-->
<!--<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>-->

<div class="btn-group btn-fixed btn-bottom-right">
  <button mat-fab color="primary" class="pulse" (click)="openShowInformationDialog()">
    <i class="large material-icons">info_outline</i>
  </button>
  <button mat-fab color="primary" (click)="openCreatePostDialog()">
    <i class="large material-icons">message</i>
  </button>
</div>


<!--<div id="message" class="modal">-->
<!--  <div class="modal-content">-->
<!--    <h4>Post a new message</h4>-->
<!--    <div class="row">-->

<!--      <form class="col s12">-->
<!--        <div class="row">-->
<!--          <div class="input-field col s12">-->
<!--            <i class="material-icons prefix">mode_edit</i>-->
<!--            <textarea id="icon_prefix2" class="materialize-textarea"></textarea>-->
<!--            <label for="icon_prefix2">Message</label>-->
<!--          </div>-->
<!--        </div>-->

<!--        <a class="waves-effect waves-light btn-large"><i class="material-icons left"></i>Post message</a>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div id="signin" class="modal">-->
<!--  <div class="row">-->
<!--    <ul class="tabs">-->
<!--      <li class="tab col s6"><a class="active" href="#signin-content">Sign in</a></li>-->
<!--      <li class="tab col s6"><a href="#signup-content">Sign up</a></li>-->
<!--    </ul>-->
<!--  </div>-->
<!--  <div id="signin-content" class="col s12">-->
<!--    <div class="col s12">-->

<!--      <form class="container">-->
<!--        <div class="row">-->
<!--          <div class="input-field col s12">-->
<!--            <input id="email2" type="email" class="validate">-->
<!--            <label for="email2">Email</label>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--          <div class="input-field col s12">-->
<!--            <input id="password2" type="password" class="validate">-->
<!--            <label for="password2">Password</label>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--          <div class="col s12">-->
<!--            <button class="btn waves-effect waves-light" type="submit" name="action">Sign in-->
<!--              <i class="material-icons right">send</i>-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div id="signup-content">-->
<!--    <div class="col s12">-->

<!--      <form class="container">-->
<!--        <div class="row">-->
<!--          <div class="input-field col s6">-->
<!--            <input id="email" type="email" class="validate">-->
<!--            <label for="email">Email</label>-->
<!--          </div>-->
<!--          <div class="input-field col s6">-->
<!--            <input id="nickname" type="text" class="validate">-->
<!--            <label for="nickname">Nickname</label>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--          <div class="input-field col s12">-->
<!--            <input id="password" type="password" class="validate">-->
<!--            <label for="password">Password</label>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--          <div class="col s12">-->
<!--            <button class="btn waves-effect waves-light" type="submit" name="action">Sign up-->
<!--              <i class="material-icons right">send</i>-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
