<h1 mat-dialog-title>Information</h1>
<div mat-dialog-content class="p-b-5 p-t-5">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Create an account
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Create posts
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
      </p>
    </mat-expansion-panel>
  </mat-accordion>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Close</button>
</div>
